<th:block th:fragment="head-info">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FIFO</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
</th:block>

<th:block th:fragment="navbar">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">FIFO</a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarEexample">
        <ul class="nav navbar-nav">
          <li class="active"><a th:href="@{/}">Home</a></li>
          <th:block th:if="${#ctx.httpServletRequest.getRemoteUser()} != null">
            <li ><a th:href="@{/exercises}">Exercises</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a th:href="@{'/users/' + ${userId} + '/calendar'}">Calendar</a></li>
            <li><a th:href="@{'/users/' + ${userId} + '/archives'}">Archives</a></li>
            <li><a th:href="@{'/users/' + ${userId} + '/settings'}">Settings</a></li>
          </th:block>
        </ul>

        <th:block th:if="${#ctx.httpServletRequest.getRemoteUser()} != null">
          <form class="navbar-form navbar-right" th:action="@{/auth/logout}" method="post"
            th:if="${#ctx.httpServletRequest.getRemoteUser()} != null">
            <input type="submit" value="ログアウト" class="btn btn-default"/>
          </form>

          <p class="navbar-text navbar-right">ようこそ<a th:href="@{'/users/' + ${userId}}"
            class="navbar-link"><th:block th:text="${#ctx.httpServletRequest.getRemoteUser()}">ユーザ名</th:block>
            </a>さん</p>
        </th:block>

        <th:block th:if="${#ctx.httpServletRequest.getRemoteUser()} == null">
          <form class="navbar-form navbar-right" th:action="@{/auth/login}" method="get">
            <input type="submit" value="ログイン" class="btn btn-default"/>
          </form>

          <p class="navbar-text navbar-right"><a th:href="@{/users/new}" class="navbar-link">登録
            </a></p>
        </th:block>
      </div>
    </div>
  </nav>
</th:block>