<th:block layout:decorator="common/layout" layout:fragment="content">
  <h1>Exercises</h1>

  <h2>Subjects</h2>
  
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapseListEnglish">
            English
          </a>
        </h3>
      </div>
      
      <div id="collapseListEnglish" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/exercises/english/1">総合演習</a>
          </li>
          <li class="list-group-item">間違えた問題</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapseListMath">
            Mathematics
          </a>
        </h3>
      </div>
      
      <div id="collapseListMath" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item">総合演習</li>
          <li class="list-group-item">間違えた問題</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapseListJapanese">
            Japanese
          </a>
        </h3>
      </div>
      
      <div id="collapseListJapanese" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item">総合演習</li>
          <li class="list-group-item">間違えた問題</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapseListScience">
            Science
          </a>
        </h3>
      </div>
      
      <div id="collapseListScience" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item">総合演習</li>
          <li class="list-group-item">間違えた問題</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapseListSociety">
            Society
          </a>
        </h3>
      </div>
      
      <div id="collapseListSociety" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item">総合演習</li>
          <li class="list-group-item">間違えた問題</li>
        </ul>
      </div>
    </div>
  </div>
</th:block>