@charset "utf-8";

.root-background {
  min-height: 300px;
  background-image: url("/img/root/index/top.jpg");
  background-repeat : no-repeat;
  background-size: 100% 100%; 
}

.panel {
  padding: 0;
}

.centering {
  text-align: center;
}