<th:block layout:decorator="common/layout">
  <head>
    <title>home</title>
    <link href="/css/root/index.css" rel="stylesheet" />
  </head>

  <th:block layout:fragment="content">
    <th:block th:if="${@viewHelper.isAuthenticated()}">
      <div id="deadline"></div>
    </th:block>

    <div class="row root-background">
      <div class="col-md-offset-1">
        <h1>勉強の手助けwww</h1>
        <p>勉強に便利な機能が！！(あるのかな...？？？)</p>
      </div>
    </div>

    <h1>機能紹介(実装予定？？？)</h1>

    <div class="row">
      <div class="panel-group">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              問題演習
            </div>

            <div class="panel-body">
              問題演習ができる！！！<br />
              Σ(ﾟДﾟ)
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              達成度の記録
            </div>

            <div class="panel-body">
              問題演習の結果を記録してモチベーションUP!!
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              スケジュール管理
            </div>

            <div class="panel-body">
              スケジュールを管理www
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block layout:fragment="unique-scripts">
    <th:block th:if="${@viewHelper.isAuthenticated()}">
      <script src="/js/root/Deadline.js"></script>
      <script src="/js/root/DeadlineTimer.js"></script>
      <script th:inline="javascript">
        var deadlinePOJOs = /*[[${deadlines}]]*/ null;
        var deadlineTimer = new DeadlineTimer(deadlinePOJOs);
      </script>
    </th:block>
  </th:block>
</th:block>