<th:block layout:decorator="admin/common/layout" layout:fragment="content">
  <form action="#" method="post">
    <div class="form-group">
      <label for="quiestion">問題文</label>
      <input type="text" name="quiestion" class="form-control" id="quiestion" />
    </div>

    <div class="form-group">
      <label for="answer">回答</label>
      <input type="text" name="answer" class="form-control" id="answer" />
    </div>

    <div class="form-group">
      <input type="submit" value="問題登録" class="btn btn-default" />
    </div>
  </form>
</th:block>