<th:block layout:decorator="common/layout" layout:fragment="content">
  <form th:action="@{/users/new}" th:object="${registerForm}" method="post">
    <div><label> ユーザ名 : <input type="text" name="name" th:field="*{name}"/> </label></div>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

    <div><label> ユーザID : <input type="text" name="userId" th:field="*{userId}"/> </label></div>
    <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">UserID Error</div>

    <div><label> パスワード: <input type="text" name="password" th:field="*{password}"/> </label></div>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">UserID Error</div>

    <div><input type="submit" value="登録"/></div>
  </form>
</th:block>